.monitoring-page {
    margin-top: 52px; /* Altura de la navbar */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido horizontalmente */
    height: calc(100vh - 52px); /* Altura total menos la altura de la navbar */
    padding: 20px; /* Añade un poco de padding para separar el botón del borde */
}

.monitoring-page button,
.monitoring-page select {
    margin: 10px 0;
}