.camera-predict-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 52px);
    margin-top: 52px;
  }
  
  .camera-predict-container select,
  .camera-predict-container button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
  }

  .exit-instruction {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
  }