@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html, body, #root {
  height: 100%; /* Esto asegura que los contenedores padres permitan crecer a los hijos */
  width: 100%; /* Asegura que el contenido ocupe todo el ancho disponible */
  margin: 0; /* Quita márgenes por defecto */
}

.home-page {
  background-image: url('../assets/font_home.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.home-title {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin-right: 20px;
  font-size: 4em;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: right;
}

.home-title span {
  display: block;
}

.highlight {
  color: #f8f8f8; 
}
